.App-intro {
  font-size: large;
}

.footer {
  /* Increased specificity for SO snippet priority */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.alignCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alignCenterHorizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
